<footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 text-center text-md-start">
          <h5>Sobre nosotros</h5>
          <p>Somos una empresa dedicada a la gestión humana, proporcionando soluciones eficientes y efectivas.</p>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <h5>Redes Sociales</h5>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="#" target="_blank" class="me-3"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank" class="me-3"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" class="me-3"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 text-center text-md-end">
          <h5>Contacto</h5>
          <p>Email: infobpogs.com</p>
          <p>Teléfono: +57 123 456 7890</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p class="mb-0">&copy; 2024 BPOGS. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
</footer>
  