<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="list-group">
        <a class="list-group-item list-group-item-action active" (click)="showSection('perfilCampana')">Perfil Campaña</a>
        <a class="list-group-item list-group-item-action" (click)="showSection('perfilCargo')">Perfil Cargo</a>
        <a class="list-group-item list-group-item-action disabled">Opción 3 (Próximamente)</a>
        <a class="list-group-item list-group-item-action disabled">Opción 4 (Próximamente)</a>
        <a class="list-group-item list-group-item-action disabled">Opción 5 (Próximamente)</a>
      </div>
    </div>
    <div class="col-md-10">
      <div *ngIf="currentSection === 'perfilCampana'">
        <!-- Aquí  incluir el componente PerfilCampanaListComponent -->
        <app-perfil-campana/>
      </div>
      <div *ngIf="currentSection === 'perfilCargo'">
        <!-- Aquí incluir el componente PerfilCargoListComponent -->
        <app-cargo/>
      </div>
      <div *ngIf="currentSection === 'proximamente'">
        <h2 class="text-center mt-5">Próximamente</h2>
      </div>
    </div>
  </div>
</div>
